.main-footer
	min-height: 104px
	margin-top: 36px
	&__container
		display: flex
		justify-content: space-between
	&__menu
		display: flex 
		
	&__social
		display: flex
		justify-content: space-between
		width: 188px
	&__copyright
		position: relative
	&__btn
		position: relative
		display: inline-block
		vertical-align: top
		font-size: 0
		width: 32px
		height: 32px
		background: #e6ebe9
		border: 4px solid #9bafa4
		border-radius: 50%
	&__left
		padding-left: 6px
	&__right
		padding-left: 31px
	&__item
		font: 13px/18px "Roboto", "Arial", sans-serif
		margin-bottom: 4px
		&--provider
			font: 13px/18px "Roboto Bold", "Arial", sans-serif
	&__link
		color: #f7f8f8
		border-bottom: 1px solid #f7f8f8
	&__made
		font: 12px/18px "Roboto", "Arial", sans-serif
		padding-top: 27px
		color: #f7f8f8
	&__logo
		position: absolute
		left: 3px
		top: -15px
		