// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$icon-basket-name: 'icon-basket'
$icon-basket-x: 100px
$icon-basket-y: 145px
$icon-basket-offset-x: -100px
$icon-basket-offset-y: -145px
$icon-basket-width: 21px
$icon-basket-height: 20px
$icon-basket-total-width: 187px
$icon-basket-total-height: 177px
$icon-basket-image: './img/sprite/sprite.png'
$icon-basket: (100px, 145px, -100px, -145px, 21px, 20px, 187px, 177px, './img/sprite/sprite.png', 'icon-basket', )
$icon-basket-hover-name: 'icon-basket_hover'
$icon-basket-hover-x: 74px
$icon-basket-hover-y: 145px
$icon-basket-hover-offset-x: -74px
$icon-basket-hover-offset-y: -145px
$icon-basket-hover-width: 21px
$icon-basket-hover-height: 20px
$icon-basket-hover-total-width: 187px
$icon-basket-hover-total-height: 177px
$icon-basket-hover-image: './img/sprite/sprite.png'
$icon-basket-hover: (74px, 145px, -74px, -145px, 21px, 20px, 187px, 177px, './img/sprite/sprite.png', 'icon-basket_hover', )
$icon-cow-name: 'icon-cow'
$icon-cow-x: 139px
$icon-cow-y: 0px
$icon-cow-offset-x: -139px
$icon-cow-offset-y: 0px
$icon-cow-width: 48px
$icon-cow-height: 49px
$icon-cow-total-width: 187px
$icon-cow-total-height: 177px
$icon-cow-image: './img/sprite/sprite.png'
$icon-cow: (139px, 0px, -139px, 0px, 48px, 49px, 187px, 177px, './img/sprite/sprite.png', 'icon-cow', )
$icon-enter-name: 'icon-enter'
$icon-enter-x: 152px
$icon-enter-y: 145px
$icon-enter-offset-x: -152px
$icon-enter-offset-y: -145px
$icon-enter-width: 21px
$icon-enter-height: 19px
$icon-enter-total-width: 187px
$icon-enter-total-height: 177px
$icon-enter-image: './img/sprite/sprite.png'
$icon-enter: (152px, 145px, -152px, -145px, 21px, 19px, 187px, 177px, './img/sprite/sprite.png', 'icon-enter', )
$icon-enter-hover-name: 'icon-enter_hover'
$icon-enter-hover-x: 126px
$icon-enter-hover-y: 145px
$icon-enter-hover-offset-x: -126px
$icon-enter-hover-offset-y: -145px
$icon-enter-hover-width: 21px
$icon-enter-hover-height: 19px
$icon-enter-hover-total-width: 187px
$icon-enter-hover-total-height: 177px
$icon-enter-hover-image: './img/sprite/sprite.png'
$icon-enter-hover: (126px, 145px, -126px, -145px, 21px, 19px, 187px, 177px, './img/sprite/sprite.png', 'icon-enter_hover', )
$icon-fb-name: 'icon-fb'
$icon-fb-x: 37px
$icon-fb-y: 145px
$icon-fb-offset-x: -37px
$icon-fb-offset-y: -145px
$icon-fb-width: 32px
$icon-fb-height: 32px
$icon-fb-total-width: 187px
$icon-fb-total-height: 177px
$icon-fb-image: './img/sprite/sprite.png'
$icon-fb: (37px, 145px, -37px, -145px, 32px, 32px, 187px, 177px, './img/sprite/sprite.png', 'icon-fb', )
$icon-ice-cream-name: 'icon-ice_cream'
$icon-ice-cream-x: 85px
$icon-ice-cream-y: 0px
$icon-ice-cream-offset-x: -85px
$icon-ice-cream-offset-y: 0px
$icon-ice-cream-width: 49px
$icon-ice-cream-height: 49px
$icon-ice-cream-total-width: 187px
$icon-ice-cream-total-height: 177px
$icon-ice-cream-image: './img/sprite/sprite.png'
$icon-ice-cream: (85px, 0px, -85px, 0px, 49px, 49px, 187px, 177px, './img/sprite/sprite.png', 'icon-ice_cream', )
$icon-insta-name: 'icon-insta'
$icon-insta-x: 0px
$icon-insta-y: 145px
$icon-insta-offset-x: 0px
$icon-insta-offset-y: -145px
$icon-insta-width: 32px
$icon-insta-height: 32px
$icon-insta-total-width: 187px
$icon-insta-total-height: 177px
$icon-insta-image: './img/sprite/sprite.png'
$icon-insta: (0px, 145px, 0px, -145px, 32px, 32px, 187px, 177px, './img/sprite/sprite.png', 'icon-insta', )
$icon-pin-name: 'icon-pin'
$icon-pin-x: 0px
$icon-pin-y: 0px
$icon-pin-offset-x: 0px
$icon-pin-offset-y: 0px
$icon-pin-width: 80px
$icon-pin-height: 140px
$icon-pin-total-width: 187px
$icon-pin-total-height: 177px
$icon-pin-image: './img/sprite/sprite.png'
$icon-pin: (0px, 0px, 0px, 0px, 80px, 140px, 187px, 177px, './img/sprite/sprite.png', 'icon-pin', )
$icon-sheet-name: 'icon-sheet'
$icon-sheet-x: 85px
$icon-sheet-y: 54px
$icon-sheet-offset-x: -85px
$icon-sheet-offset-y: -54px
$icon-sheet-width: 49px
$icon-sheet-height: 49px
$icon-sheet-total-width: 187px
$icon-sheet-total-height: 177px
$icon-sheet-image: './img/sprite/sprite.png'
$icon-sheet: (85px, 54px, -85px, -54px, 49px, 49px, 187px, 177px, './img/sprite/sprite.png', 'icon-sheet', )
$icon-thermo-name: 'icon-thermo'
$icon-thermo-x: 139px
$icon-thermo-y: 54px
$icon-thermo-offset-x: -139px
$icon-thermo-offset-y: -54px
$icon-thermo-width: 48px
$icon-thermo-height: 49px
$icon-thermo-total-width: 187px
$icon-thermo-total-height: 177px
$icon-thermo-image: './img/sprite/sprite.png'
$icon-thermo: (139px, 54px, -139px, -54px, 48px, 49px, 187px, 177px, './img/sprite/sprite.png', 'icon-thermo', )
$icon-tw-name: 'icon-tw'
$icon-tw-x: 139px
$icon-tw-y: 108px
$icon-tw-offset-x: -139px
$icon-tw-offset-y: -108px
$icon-tw-width: 33px
$icon-tw-height: 32px
$icon-tw-total-width: 187px
$icon-tw-total-height: 177px
$icon-tw-image: './img/sprite/sprite.png'
$icon-tw: (139px, 108px, -139px, -108px, 33px, 32px, 187px, 177px, './img/sprite/sprite.png', 'icon-tw', )
$icon-vk-name: 'icon-vk'
$icon-vk-x: 85px
$icon-vk-y: 108px
$icon-vk-offset-x: -85px
$icon-vk-offset-y: -108px
$icon-vk-width: 32px
$icon-vk-height: 32px
$icon-vk-total-width: 187px
$icon-vk-total-height: 177px
$icon-vk-image: './img/sprite/sprite.png'
$icon-vk: (85px, 108px, -85px, -108px, 32px, 32px, 187px, 177px, './img/sprite/sprite.png', 'icon-vk', )
$spritesheet-width: 187px
$spritesheet-height: 177px
$spritesheet-image: './img/sprite/sprite.png'
$spritesheet-sprites: ($icon-basket, $icon-basket-hover, $icon-cow, $icon-enter, $icon-enter-hover, $icon-fb, $icon-ice-cream, $icon-insta, $icon-pin, $icon-sheet, $icon-thermo, $icon-tw, $icon-vk, )
$spritesheet: (187px, 177px, './img/sprite/sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
